<!DOCTYPE html>
<html lang="zxx" class="no-js">
    <% include ../partial/head %>
    <style media="screen">
      table,th,td{
        width: 1100px;
        margin-left: -80px;
        text-align: center;
        border: 1px solid black;
        height: 35px;
      }
      th {
        background-color:  #550080;
        color: white;
        height: 55px;
        font-size: 23px;
      }
      td {
        color: black;
        height: 50px;
        font-size: 18px;
      }
      tr:nth-child(even){background-color: #eeccff;}

      #title {
        margin-top: 30px;
        margin-left: 300px;
      }
      #menu{
        /* margin-right:30%; */
        margin-top: 50px
      }
    </style>
    <script src="/js/vendor/jquery-2.2.4.min.js"></script>
    <header id="header1" class="blue-bg default-header">
      <div class="navbar-area flex space-between">
      <div class="left-bar">
          <div id="title">
                <center style="color:white;font-size:45px;font-family:'AR DELANEY';">Student Attendance Management System</center>
          </div>
      </div>
    </div>

    <div class="container" id="menu">
        <div class="navbar-area flex space-between">
            <div class="right-bar flex">
                <nav>
                    <ul id="mobile" class="main-menu  hidden-xs">
                        <li class="my-active"><a href="/teacher/home">Home</a>
                        </li>

                        <li><a href="#">Teacher</a>
                            <ul class="sub-menu">
                                 <li><a href="/teacher/list" >Attendance List</a></li>
                                <li><a href="/teacher/monthly" >View Monthly Attendance Count</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Password</a>
                            <ul class="sub-menu">
                                <li><a href="/teacher/change/<%=tid%>" >Change Password</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Logout</a>
                          <ul class="sub-menu">
                              <li><a href="/" >Logout</a></li>
                        </li>
                    </ul>
                </nav>
                <div class="search-icon hidden-xs">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </div>
            </div>
        </div>
    </div>
    </header>
    <body>
        <div class="search-area">
            <div class="container">
                <div class="row fitscreen flex flex-middle relative">
                    <form action="#" class="search-form">
                        <input id="focus" placeholder="Search your query and press “Enter”" type="text">
                    </form>
                </div>
            </div>
        </div>
        <main>
            <!-- Blog Slider Area Start -->
            <section id="slider" class="slider-section">
                <div class="deafult-slider blog-slider">
                    <div class="item flex flex-middle" style="background-image: url(/images/TU-1.jpeg);">
                        <div class="container">
                            <div class="col-md-offset-1 col-md-10  col-xs-12">
                                <div class="slide-content text-center">

                                </div>
                            </div>
                        </div>
                        <div class="overlay-slider"></div>
                    </div>
                    <div class="item flex flex-middle" style="background-image: url(/images/TU-3.jpeg);">
                        <div class="container">
                            <div class="col-md-offset-1 col-md-10 col-xs-12">
                                <div class="slide-content text-center">

                                </div>
                            </div>
                        </div>
                        <div class="overlay-slider"></div>
                    </div>
                    <div class="item flex flex-middle" style="background-image: url(/images/TU-2.jpeg);">
                        <div class="container">
                            <div class="col-md-offset-1 col-md-10 col-xs-12">
                                <div class="slide-content text-center">

                                </div>
                            </div>
                        </div>
                        <div class="overlay-slider"></div>
                    </div>
                </div>
            </section>
            <!-- Blog Slider Area End -->
            <section class="blog-home section-full">
                <div class="container">

                    <h2 style="padding-left:20px;">Attendance List</h2>
                    <div class="total-blog mt-10">
                        <div class="single-blog text-center row">
                            <div class="col-sm-offset-1 col-sm-10">
                                <div class="blog-head mb-20">
                                    <table>
                                      <thead>
                                        <tr>
                                          <th>Class</th>
                                          <th>Subj</th>
                                          <th>Time</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <%if(list != '0'){%>
                                        <% for(var i= 0; i< list.length; i++){%>
                                          <tr onclick="go('<%=list[i].subj_name%>','<%= list[i].time%>')">
                                            <td><%= list[i].class%></td>
                                            <td><%= list[i].subj_name%></td>
                                            <td id="id<%=i%>"><%= list[i].time%></td>
                                          </tr>
                                          <script type="text/javascript">
                                            switch ('<%=list[i].time%>') {
                                              case "1":
                                                $('#id<%=i%>').html("8:30AM-9:30AM");
                                                break;
                                              case "2":
                                                $('#id<%=i%>').html("9:35AM-10:35AM");
                                                break;
                                              case "3":
                                                $('#id<%=i%>').html("10:40AM-11:40AM");
                                                break;
                                              case "4":
                                                $('#id<%=i%>').html("12:40PM-1:40PM");
                                                break;
                                              case "5":
                                                $('#id<%=i%>').html("1:45PM-2:45PM");
                                                break;
                                              case "6":
                                                $('#id<%=i%>').html("2:50PM-3:50PM");
                                                break;
                                              default:
                                                $('#id<%=i%>').html("somethings wrong");
                                            }
                                          </script>
                                        <%}%>
                                        <%}else{%>
                                          <tr>
                                            <td colspan="3">Data Not Found for today!!</td>
                                          </tr>
                                        <%}%>
                                      </tbody>
                                    </table>
                                    <br>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </main>
        <!-- Footer Area Start -->

        <!-- Footer Area End -->


        <!--
        JavaScripts
        ========================== -->

        <!-- <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/vendor/materialize.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/jquery.sticky.js"></script>
        <script src="js/jquery.slicknav.min.js"></script> -->
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqCaX4fFEQRiTJoeclXKZRaFh2fYfps_Y&callback=initMap"></script>
        <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script> -->
        <!-- <script src="js/jquery.nice-select.js"></script> -->
        <!-- <script src="js/jquery.jCounter-0.1.4.js"></script>

        <script src="js/main.js"></script> -->
        <script src="/js/minified/minified.js"></script>
        <script src="/js/map-init.js"></script>
    </body>
    <script type="text/javascript">
    var major ;
    switch (<%=dept%>) {
      case 1:
        major="it";
        break;
      case 2:
        major="civil";
        break;
      case 3:
        major="ec";
        break;
      case 4:
        major="ep";
        break;
      case 5:
        major="mp";
        break;
      case 6:
        major="mc";
        break;
      default:
        console.log('it');
    }
    console.log('////',major);
    if('<%=list%>' == '0'){
      var cla = '';
    }else {
      var cla ='<%=list[0].class%>'+major;
    }

    console.log(cla.toLowerCase());
    var sts = false;

      function go(name,time) {
        <%for(var h in ca_list.list){%>
            if(time == '<%= ca_list.list[h]%>') sts = true;
        <%}%>
        if(!sts){
          location.href = '/teacher/make/'+cla.toLowerCase()+'?s='+name+'&t='+time;
        }else {
          alert("You already do it");
          sts= false;
        }

      }
    </script>
</html>
