<!DOCTYPE html>
<html lang="zxx" class="no-js">
    <% include ../partial/head %>
    <style media="screen">
      table,th,td{
        width: 1100px;
        margin-left: -50px;
        text-align: center;
        border: 1px solid black;
      }
      #ta {
        background-color: #4d4dff;
        color: white;
        height: 50px;
        font-size: 14px;

      }
      td {
        color: black;
        height: 45px;
        width: 1500px;
      }

      #title {
        margin-top: 30px;
        margin-left: 300px;
      }
      #menu{
        /* margin-right:30%; */
        margin-top: 50px
      }
      #tt {
        font-size: 12px;
        color: white;
        background-color:  #4d4dff;
        height: 50px;
      }

    </style>
    <script src="/js/vendor/jquery-2.2.4.min.js"></script>
    <header id="header1" class="blue-bg default-header">
      <div class="navbar-area flex space-between">
      <div class="left-bar">
          <div id="title">
                <center style="color:white;font-size:45px;font-family:'AR DELANEY';">Student Attendance Management System</center>
          </div>
      </div>
    </div>

    <div class="container" id="menu">
        <div class="navbar-area flex space-between">
            <div class="right-bar flex">
                <nav>
                    <ul id="mobile" class="main-menu  hidden-xs">
                        <li class="my-active"><a href="/home">Home</a>
                        </li>
                        <li><a href="#">Timetable</a>
                            <ul class="sub-menu">
                                <li><a href="/student/timetable" >View Timetable</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Student</a>
                            <ul class="sub-menu">
                                <li><a href="/student/monthly">View Attendance</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Password</a>
                            <ul class="sub-menu">
                                <li><a href="/student/change">Change Password</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Logout</a>
                          <ul class="sub-menu">
                              <li><a href="/signout" >Logout</a></li>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
    </header>
    <body>
        <div class="search-area">
            <div class="container">
                <div class="row fitscreen flex flex-middle relative">
                    <form action="#" class="search-form">
                        <input id="focus" placeholder="Search your query and press “Enter”" type="text">
                    </form>
                </div>
            </div>
        </div>
        <main>
            <!-- Blog Slider Area Start -->
            <section id="slider" class="slider-section">
                <div class="deafult-slider blog-slider">
                    <div class="item flex flex-middle" style="background-image: url(/images/TU-1.jpeg);">
                        <div class="container">
                            <div class="col-md-offset-1 col-md-10  col-xs-12">
                                <div class="slide-content text-center">

                                </div>
                            </div>
                        </div>
                        <div class="overlay-slider"></div>
                    </div>
                    <div class="item flex flex-middle" style="background-image: url(/images/TU-3.jpeg);">
                        <div class="container">
                            <div class="col-md-offset-1 col-md-10 col-xs-12">
                                <div class="slide-content text-center">

                                </div>
                            </div>
                        </div>
                        <div class="overlay-slider"></div>
                    </div>
                    <div class="item flex flex-middle" style="background-image: url(/images/TU-2.jpeg);">
                        <div class="container">
                            <div class="col-md-offset-1 col-md-10 col-xs-12">
                                <div class="slide-content text-center">

                                </div>
                            </div>
                        </div>
                        <div class="overlay-slider"></div>
                    </div>
                </div>
            </section>
            <!-- Blog Slider Area End -->
            <section class="blog-home section-full">
                <div class="container">
                    <h2 style="padding-left:20px;">Monthly Attendance Percetage Count</h2>
                    <br>
                    <div class="total-blog mt-10">
                        <div class="single-blog text-center row">
                            <div class="col-sm-offset-1 col-sm-10">
                                <div class="blog-head mb-20">
                                  <h3 style="color: #ff6600;font-family: Times New Roman;"><%= classN%></h3>
                                  <h3 style="color: #ff6600; font-family: Times New Roman;"><%= stu %></h3>
                                  <br>
                                    <table>
                                      <thead>
                                        <tr id="ta">
                                          <th rowspan="2">Month</th>
                                          <% for(var j = 0; j< subj.length; j++){%>
                                            <th colspan="3"><%= subj[j].subj_name%></th>
                                          <%}%>
                                          <th rowspan="2">Rating</th>
                                        </tr>
                                        <tr id="tt">
                                          <th >Total count</th>
                                          <th>Attendance count</th>
                                          <th >Total %</th>
                                          <th >Total count</th>
                                          <th>Attendance count</th>
                                          <th >Total %</th>
                                          <th >Total count</th>
                                          <th>Attendance count</th>
                                          <th >Total %</th>
                                          <th >Total count</th>
                                          <th>Attendance count</th>
                                          <th >Total %</th>
                                          <th >Total count</th>
                                          <th>Attendance count</th>
                                          <th >Total %</th>
                                          <th >Total count</th>
                                          <th>Attendance count</th>
                                          <th >Total %</th>
                                          <th >Total count</th>
                                          <th>Attendance count</th>
                                          <th >Total %</th>
                                        </tr>
                                      </thead>
                                      <tbody>

                                        <% var allc = []; var alla = [];  for(var p=0; p<= subj.length; p++){ allc[p]=0;alla[p]=0;} %>
                                        <%for(var k =0; k< data.length; k++){ var sumc = 0; var suma = 0; %>


                                          <tr>
                                            <td id="aa<%=k%>"><%= data[k].month%></td>
                                            <% for(var b = 0; b < mon.length; b++){ %>
                                              <% allc[b] += data[k][mon[b][0]]; alla[b] += data[k][mon[b][1]];%>
                                              <% sumc += data[k][mon[b][0]];  %>
                                              <% suma += data[k][mon[b][1]];  %>
                                              <td><%=data[k][mon[b][0]]%></td>
                                              <td><%=data[k][mon[b][1]]%></td>
                                              <td ><%=(data[k][mon[b][1]] == 0)? 0:(data[k][mon[b][1]]/data[k][mon[b][0]])*100%>%</td>
                                            <%}%>

                                            <td><%=(suma == 0)? 0 :((suma/sumc)*100).toFixed(2) %> %</td>
                                          </tr>

                                          <script type="text/javascript">
                                            switch (<%=data[k].month%>) {
                                              case 1:
                                                $('#aa<%=k%>').html('December');
                                                break;
                                              case 2:
                                                $('#aa<%=k%>').html('January');
                                              break;
                                              case 3:
                                                $('#aa<%=k%>').html('February');
                                              break;
                                              case 4:
                                                $('#aa<%=k%>').html('March');
                                              break;
                                              case 5:
                                                $('#aa<%=k%>').html('June');
                                              break;
                                              case 6:
                                                $('#aa<%=k%>').html('July');
                                                break;
                                              case 7:
                                                $('#aa<%=k%>').html('August');
                                                break;
                                              case 8:
                                                $('#aa<%=k%>').html('September');
                                                break;
                                              default:
                                                console.log('error');
                                            }
                                          </script>
                                          <% console.log(alla[k],allc[k])%>
                                        <%}%>
                                        <tr style="background-color:#ffff66; height:60px;">
                                          <td>Overall total %</td>
                                          <% var tola = 0;var tolc = 0; for(var b =0; b< subj.length; b++){  tola += alla[b]; tolc += allc[b];%>
                                            <td><%= allc[b] %></td>
                                            <td><%= alla[b] %></td>
                                            <td ><%= (alla[b] == 0)? 0:((alla[b]/allc[b])*100).toFixed(2) %> %</td>
                                          <%} %>
                                          <% console.log(tola,tolc)%>
                                          <td><%= ((tola/tolc)*100).toFixed(2)%> %</td>
                                        </tr>


                                    </tbody>
                                    </table>
                                    <br>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </main>
        <!-- Footer Area Start -->

        <!-- Footer Area End -->


        <!--
        JavaScripts
        ========================== -->

        <!-- <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/vendor/materialize.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/jquery.sticky.js"></script>
        <script src="js/jquery.slicknav.min.js"></script> -->
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqCaX4fFEQRiTJoeclXKZRaFh2fYfps_Y&callback=initMap"></script>
        <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script> -->
        <!-- <script src="js/jquery.nice-select.js"></script> -->
        <!-- <script src="js/jquery.jCounter-0.1.4.js"></script>

        <script src="js/main.js"></script> -->
        <script src="/js/minified/minified.js"></script>
        <script src="/js/map-init.js"></script>
    </body>
</html>
